#settings {
  width: 100%;
  margin: 2rem 0 1rem 0;
}

.select-box{
  width: 100%;
  margin-bottom: 1rem;
}

#q, #translation{
  width: 100%;
}

#translate-button, #copy-button{
  width: 100%;
  margin: 1rem 0;
}